.nosotros-caracteristicas{
    display: flex;
    justify-content: center;
    height: 850px;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(https://images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/5bfc19b74fed57909fa0a5e8/edf-min.jpg);
    background-size: cover;
    background-position: 50% 50%;
    align-items: center;
}

.container-caracteristicas{
    display: flex;
    align-items: center;
    width: 65%;
    height: 80%;
}   

.caracteristicas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container-caracteristica{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 380px;
    height: 320px;
    border-radius: 10px;
    background-color: white;
    font-family: var(--openSans);
    text-align: left;
    padding: 30px 0 0 30px;

    && h2{
        font-size: 25px;
    }

    && p{
        font-size: 20px;
        line-height: 1.5;
        width: 95%;
    }
}

.fondomorado{
    background-color: var(--purple);
    color: white;
}

.titulogrande{

    && h2{
    font-size: 35px;
    }
}