
.container-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiposdeservicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--purple);
    color: white;
    height:800px;

    && h1{
        font-size:50px;
        font-family: var(--raleway);
        width: 50%;
        text-align: center;
        font-weight: 400;
    }

    && p{
        font-size: 25px;
        width: 60%;
        line-height: 2;
        font-family: var(--openSans);
        font-weight:100;
        font-style: italic;
    }
}    


.container-tiposdeservicios{
    width: 70%;
    display: flex;
    gap: 30px;
    justify-content:space-evenly;
}

.container-servicio{
    width: 350px;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;

    && p{
        font-size:15px;
        width: 85%;
        font-weight:400
    }
    && h2{
        font-family: var(--raleway);
        font-weight: 500;
        font-style: italic;
        font-size:20px
    }
}

.img-servicio{
    width: 80px;
    height:80px;
}

.container-masservicios{
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    width: 65%;
}

.container-servicios_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
}

.titulo-info{
    margin-top: 50px;
    && h1{
        font-size: 50px;
        font-family: var(--raleway);
        font-weight: 300;
        margin-top: 30px;
    }

    && p{
        font-weight: bold;
        font-size: 20px;
        line-height: 2;
        width: 40%;
        margin-top: 30px;
    }
}

.servicio-texto{
    margin-top: 50px;
    font-family: var(--raleway);
    width: 100%;

    && h3{
        font-size: 35px;
        font-weight: 200;
    }

    && p {
        width: 80%;
        text-align: justify;
        font-weight: 400;
    }
}

.listadeservicios{
    && p{
        font-weight: 400;
    }

    && li{
        list-style-type: "—";
        font-size: 20px;
        line-height: 2;
        color: grey;
        width: 80%;
        padding-left: 10px;
    }
}

.container-botones_info{
    display: flex;
    width: 20%;
    
}

.botones-info{
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
