
.container-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tiposdeservicios{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--purple);
    color: white;
    height:800px;
    

    && h1{
        font-size:50px;
        font-family: var(--raleway);
        width: 50%;
        text-align: center;
        font-weight: 400;
        filter: opacity(0);
    }

    && p{
        font-size: 25px;
        width: 60%;
        line-height: 2;
        font-family: var(--openSans);
        font-weight:100;
        font-style: italic;
        filter: opacity(0);
    }
}  

.titulo-tiposervicios,.texto-tiposervicios{
    filter: opacity(1);
}

.tituloservicios-animado{
    animation: tituloanimado 1s ease-out forwards;
}

@keyframes tituloanimado {
    from{filter: opacity(0); transform: scale(0);}
    to{filter: opacity(1); transform: scale(1);}
}

.textoservicios-animado{
    animation: textoanimado 1s .5s ease-out forwards;
}

@keyframes textoanimado {
    from{filter: opacity(0); transform: scale(0);}
    to{filter: opacity(1); transform: scale(1);}
}

.visible{
    filter: opacity(1);
}



.container-tiposdeservicios{
    width: 70%;
    display: flex;
    gap: 30px;
    justify-content:space-evenly;
    filter: opacity(0);
}

.tipodeserviciosanimado{
    animation: serviciosanimados 1s 1s ease-out forwards;
}

@keyframes serviciosanimados {
    from{filter: opacity(0); transform: translateY(100%);}
    to{filter: opacity(1); transform: translateY(0);}
}



.container-servicio{
    width: 350px;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;

    && p{
        font-size:15px;
        width: 85%;
        font-weight:400;
        filter: opacity(1);
    }
    && h2{
        font-family: var(--raleway);
        font-weight: 500;
        font-style: italic;
        font-size:20px
    }
}

.img-servicio{
    width: 80px;
    height:80px;
}

.container-masservicios{
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    width: 65%;
    overflow: hidden;
}

.container-servicios_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
}

.titulo-info{
    margin-top: 50px;
    filter: opacity(0);
    && h1{
        font-size: 50px;
        font-family: var(--raleway);
        font-weight: 300;
        margin-top: 30px;
    }

    && p{
        font-weight: bold;
        font-size: 20px;
        line-height: 2;
        width: 40%;
        margin-top: 30px;
    }
}

.servicio-texto{
    margin-top: 50px;
    font-family: var(--raleway);
    width: 100%;

    && h3{
        font-size: 35px;
        font-weight: 200;
        
    }

    && p {
        width: 80%;
        text-align: justify;
        font-weight: 400;
    }
}

.entradadetextoporizquierda{
    animation: entradatxtizq 1s ease-out forwards;
}

.entradadetextoporderecha{
    animation: entradatxtder 1s ease-out forwards;
}

@keyframes entradatxtizq{
    from {filter: opacity(0); transform:translateX(-100%)}
    to {filter: opacity(1); transform:translateX(0%)}
}

@keyframes entradatxtder{
    from {filter: opacity(0); transform:translateX(100%)}
    to {filter: opacity(1); transform:translateX(0%)}
}

.listadeservicios{
    filter: opacity(0);
    && p{
        font-weight: 400;
    }

    && li{
        list-style-type: "—";
        font-size: 20px;
        line-height: 2;
        color: grey;
        width: 80%;
        padding-left: 10px;
        
    }
}

.container-botones_info{
    display: flex;
    width: 20%;
    
    
}

.botones-info{
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    filter: opacity(0);
}
