.container-trabajos{
    width: 100%;
}


.container-trabajosterminados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:var(--purple);
    color: white;
    padding: 50px 0;

    && h1 {
        font-size:50px;
        font-family: var(--raleway);
        font-weight: 300;
        filter: opacity(0);

    }
}

.mostrartitulotrabajos{
    animation: mostrartitulotrabajos 1s ease-in-out forwards;
}

@keyframes mostrartitulotrabajos {
    from{filter: opacity(0); transform: scale(0)}
    to{filter: opacity(1); transform: scale(1)}
}


.tiposdetrabajo{
    height: 90%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.img-trabajo{
    width: 650px;
    height: 650px;
    border-radius:50%;
    filter: opacity(0);
}

.mostrarimgtrabajos{
    animation: mostrarimgtrabajos 1s ease-in-out forwards;
}

@keyframes mostrarimgtrabajos{
    from{transform:scale(0) translateX(-500px) rotate(0deg);filter: opacity(0);}
    to{transform:scale(1) translateX(0) rotate(360deg); filter: opacity(1);}
}

.listatrabajos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    filter: opacity(0);
}

.mostrarlistatrabajos{
    animation: mostrarlistatrabajos 1s ease-in-out forwards;
}

@keyframes mostrarlistatrabajos{
    from{filter: opacity(0); transform: translateX(100%)}
    to{filter: opacity(1); transform: translateX(0)}
}


.container-trabajo{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 475px;
    height: 220px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-style: italic;

    && h2{
        font-size:20px;
        font-weight: bold;
    }

    && p{
        font-size: 16px;
        line-height: 2;
        width: 90%;
        text-align: center;
    }
}

.container-quehacemos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    background-image: linear-gradient(0deg, rgba(43,37,60,0.4), rgba(43,37,60,0.4)), url('//images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/8bc12c671b9d563f8ec408d8/pexels-photo-5990678.jpeg');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;

    && h1, h3{
        font-family: var(--raleway);
        color: white;
        font-weight: 200;
    }

    && h1{
        font-size: 50px;
        font-weight: 400;
    }

    && h3{
        font-size: 18px;
        width: 40%;
        line-height: 2;
        text-align: center;
        font-weight: 500;
        font-style: italic;
    }
}

.container-especializaciones{
    display: flex;
    gap: 20px;
}

.container-especializacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
    height: 300px;
    background-color: white;
    border-radius: 30px;

    && img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    && p{
        color: black;
        font-size: 20px;
        font-style: italic;
    }
}

.container-servicioscompletos{
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 500px;

    && h1{
        font-family: var(--raleway);
        font-weight: 400;
        font-size: 50px;
    }
}

.datos-servicioscompletados{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.serviciocompletado{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    && h3{
        text-transform: uppercase
        ;
        font-size: 16px;
    }
}

.dato{
    font-family: var(--oswald);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f1c50e;
    color: #5f567a !important;
    font-size: 35px;
    font-weight: 800;
}

@media(max-width: 450px){
    .container-trabajosterminados{
        padding: 50px 30px;

        && h1{
            font-size: 35px;
        }
    }

    .tiposdetrabajo{
        flex-direction: column;
        width: 100%;
    }

    .img-trabajo{
        width: 100%;
        height: 350px;
    }

    .container-trabajo{
        width: 100%;
    }

    .container-quehacemos{
        padding: 50px 30px;
        && h1{
            font-size: 35px;
        }

        && h3{
            width: 100%;
            font-size: 15px;
        }
    }

    .container-especializaciones{
        flex-direction: column;
    }

    .container-servicioscompletos{
        padding: 50px 30px;
        height: auto;
        gap: 50px;
        && h1{
            font-size: 35px;
        }
    }

    .datos-servicioscompletados{
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }
}